  .filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
  }
  
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
  }
  
  .filter__button:not(:last-child) {
    margin-right: 10px;
  }

  .pop-up-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 305px;
    border-radius: 12px;
    background: #313131;
    position: absolute;
    z-index: 1;
    margin-top: 360px;
    margin-left: 90px;
    overflow: scroll;
  }

  .pop-up-year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 180px;
    height: 237px;
    position: absolute;
    z-index: 1;
    margin-top: 360px;
    margin-left: 290px;
  }

  .pop-up-genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: #313131;
    position: absolute;
    z-index: 1;
    margin-top: 300px;
    margin-left: 350px;
    width: 221px;
    height: 196px;
  }

  .item:hover {
    color: violet;
    text-decoration: underline;
  }